**/.git
**/.gitignore
**/.vs
**/.vscode
**/.idea
**/bin
**/obj
**/node_modules
**/.env
**/appsettings.*.json
!**/appsettings.json
!**/appsettings.Development.json
**/TestResults
**/coverage
**/*.user
**/*.suo
**/artifacts
**/publish
**/.DS_Store
**/Thumbs.db
